<div *ngIf="isLoading">
	<h1>true condition</h1>
	is loading = {{ isLoading }}
</div>
<div *ngIf="!isLoading">
	<small>false condition</small>
	is loading = {{ isLoading }}
</div>
<div>
	is loading is {{ isLoading }}
</div>
<hr>
<div>
	<ul>
		<li>
			check toast service when we clic multiple time i should have multiple toast or remove the old one
		</li>
		<li>
			password retrieve
		</li>
		<li>
			password need to be stronger
		</li>
		<li>
			user verification for new account
		</li>
		<li>
			ownerId for an army should display username / check armyInterface too / use ObjectId mongodb
		</li>
		<li>
			display message on all armies page when there is none to display
		</li>
		<li>
			display message on gallery in the homepage when there is no content
		</li>
		<li>
			fix bug when we create new army and redirected to the dashboard the new army is not displayed
		</li>
	</ul>
</div>
<hr>


