header {
	display: flex;
	flex-direction: row;
}

ul {
	display: flex;
}

li {
	list-style: none;
}

.link {
	color: black;
	text-decoration: none;
	margin: 2rem;
}

.link.active {
	outline: 1px solid red;
}