<header>
	<span>header</span>
	<ul>
		<li>
			<a routerLink="/" routerLinkActive="active" class="link">
				homepage
			</a>
		</li>
		<li>
			<a routerLink="/login" routerLinkActive="active" class="link">
				login
			</a>
		</li>
		<li>
			<a routerLink="/register" routerLinkActive="active" class="link">
				register
			</a>
		</li>
		<li>
			<a routerLink="/dashboard" routerLinkActive="active" class="link">
				dashboard
			</a>
		</li>
		<li>
			<a routerLink="/sandbox" routerLinkActive="active" class="link">
				sandbox
			</a>
		</li>
	</ul>
</header>
