/* card options */
.card-selection {
	display: flex;
	gap: 16px;
}
.card-option {
	padding: 12px;
	border: 1px solid var(--lightOrange);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
.card-option > .card-image {
	filter: grayscale(.9);
	width: 80px;
}
.card-option:hover, .card-option.selected {
	border-color: var(--darkOrange);
	background-color: var(--lightOrange);
}
.card-option:hover > .card-image, .card-option.selected > .card-image {
	filter: grayscale(0);
}
