[build]
base = "."
publish = "dist/wharmy/browser/browser"
command = "ng build --base-href /wharmy/"  # Angular build command

[functions]
directory = "backend"      # Path to api/serverless functions

[[redirects]]
from = "/"
to = "/index.html"
status = 200

[[headers]]
for = "/static/*"
[headers.values]
cache-control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*.js"
[headers.values]
cache-control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*.css"
[headers.values]
cache-control = "public, max-age=31536000, immutable"
