.recent-section {

}

.recent-section-title {
	margin: 0 0 36px 8vw;
	font-size: 1.5rem;
	position: relative;
	width: fit-content;
}
.recent-section-title::after {
	display: block;
	content: '';
	background-color: var(--lightOrange);
	opacity: .4;
	height: 6px;
	width: 66%;
	position: absolute;
	bottom: 3px;
	left: -3px;
}

.recent-section-gallery {
	display: flex;
	flex-direction: column;
}
.picture {
	width: 100%;
	object-fit: contain;
	margin: 0;
}
