.dropdown {
	margin-bottom: 16px;
}

.dropdown-header {
	background-color: transparent;
	border: 1px solid var(--darkOrange);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	cursor: pointer;
	height: 32px;
	margin-bottom: 24px;
}


.header-icon__arrow {
	margin-left: auto;
	transition: rotate .3s ease-in-out;
}

.dropdown.collapsed .header-icon__arrow {
	rotate: 180deg;
}

.header-icon__img {
	height: 36px;
}

.dropdown .content {
	max-height: 0;
	overflow: hidden;
}

.dropdown.collapsed > .content {
	max-height: fit-content;
	height: auto;
	width: auto;
}

