<div class="form-container">
	<form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="!isLoading">
		<h1 class="form-title">Create a new collection</h1>
		
		<div *ngFor="let question of questions" class="form-row">
			<div *ngIf="step === question.step">
				<div>
					<app-question [question]="question" [form]="form" [filteredOptions]="filteredOptions"/>
				</div>
			</div>
		</div>
<!--		end loop questions-->
		
		<div class="form-row-value">
			<div *ngIf="form.value.category && step > 1">
				{{ form.value.category }}
			</div>
			<div *ngIf="form.value.subCategory && step > 2">
				{{ form.value.subCategory }}
			</div>
		</div>
		
		<div class="form-row-buttons">
			<button
				*ngIf="questions && step > 1"
				class="button"
				type="button"
				(click)="onPreviousStep()"
			>
				<img
					class="arrow-previous"
					src="../../../../assets/icons/right-arrow-next.svg"
					alt="arrow next"
				>
			</button>
			<button
				*ngIf="questions && step < questions.length"
				class="button"
				type="button"
				(click)="onNextStep()"
				[disabled]="!isCurrentQuestionAnswered()"
			>
				<img
					class="arrow-next"
					src="../../../../assets/icons/right-arrow-next.svg"
					alt="arrow next"
				>
			</button>
			<button
				class="button-submit"
				*ngIf="questions && step === questions.length"
				type="submit"
				[disabled]="!form.valid || submitted"
			>
				Save
			</button>
		</div>
	
		<footer class="footer">
			<div *ngFor="let question of questions">
				<div
					[ngClass]="question.step <= step ? 'form-step form-step-done' : 'form-step'"
					(click)="step = question.step"
				></div>
			</div>
		</footer>
		
	</form>
	
	
	<div *ngIf="payLoad" class="form-row">
		<strong>Saved the following values</strong><br>{{payLoad}}
	</div>
	
	<div *ngIf="isLoading">
		<h2>Loading..</h2>
	</div>
</div>
