<div class="container">
	<h1 class="auth-title">Retrieve Password</h1>
	<app-spinner *ngIf="isLoading"></app-spinner>
	<form
		*ngIf="!formSubmitted && !isLoading; else successMessage"
		method="post"
		(submit)="onSubmit(retrieveForm)"
		#retrieveForm="ngForm"
		class="auth-form"
	>
		<label for="email">
			Email Address
		</label>
		<input
			class="input"
			type="email"
			id="email"
			name="email"
			ngModel
			required
			#emailInput="ngModel"
			pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
		>
		<div *ngIf="emailInput.invalid && emailInput.touched">
			<small *ngIf="emailInput.errors?.['required']">Email is required.</small>
			<small *ngIf="emailInput.errors?.['pattern']">Please enter a valid email address.</small>
		</div>
		<button
			type="submit"
			class="submit"
			[disabled]="isLoading || formSubmitted"
		>
			Confirm
		</button>
	</form>
	<div class="wrapper-links">
		<span>Back to <a routerLink="/login" class="link">login.</a></span>
	</div>
	
	<ng-template #successMessage>
		<div class="container">
			<p>An email has been sent to {{ emailEntered }} with a reset link.</p>
			<app-spinner></app-spinner>
			<p>You will be redirected to the login page shortly.</p>
		</div>
	</ng-template>
</div>