<div class="container">
	<h1 class="auth-title">Reset Password</h1>
	<form
		*ngIf="!formSubmitted && !isLoading; else successMessage"
		method="post"
		(submit)="onSubmit(resetPasswordForm)"
		#resetPasswordForm="ngForm"
		class="auth-form"
	>
		<label for="password">
			New Password
		</label>
		<input
			class="input"
			type="password"
			id="password"
			name="password"
			ngModel
			required
			#passwordInput="ngModel"
			minlength="3"
		>
		<div *ngIf="passwordInput.invalid && passwordInput.touched">
			<small *ngIf="passwordInput.errors?.['required']">This field is required.</small>
			<small *ngIf="passwordInput.invalid">Please enter a valid (stronger) password.</small>
		</div>
		<button
			type="submit"
			class="submit"
			[disabled]="resetPasswordForm.invalid"
		>
			Confirm
		</button>
	</form>
	
	<ng-template #successMessage>
		<div class="container">
			<p>Your password has been updated!</p>
			<app-spinner></app-spinner>
			<p>You will be redirected to the login page shortly.</p>
		</div>
	</ng-template>
</div>
<!--	<div class="wrapper-links">-->
<!--		<span>Back to <a routerLink="/login" class="link">login.</a></span>-->
<!--	</div>-->
