.card {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	margin-bottom: 32px;
}

.card-thumbnail > img {
	object-fit: cover;
	display: flex;
	margin: auto;
	height: 100%;
	width: 100%;
}

.card-text {
	display: flex;
	flex-direction: column;
}

.card-text__title {
	margin: 12px 0 6px;
	font-size: 14px;
	font-weight: 600;
	position: relative;
}
.card-text__title::after {
	position: absolute;
	content: "";
	height: 1px;
	width: 35px;
	background-color: var(--lightOrange);
	bottom: -6px;
	left: 0;
}

.card-text__infos {
	margin-top: 6px;
}
.card-text__infos-category {
	font-weight: 500;
	font-size: 12px;
}
.card-text__infos-subCategory {
	font-weight: 300;
	font-size: 10px;
	font-style: italic;
}

.card-link {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 100;
	cursor: pointer;
	inset: 0;
}