<section class="hero-section">
	<div>
		<img
			class="hero-section__img"
			src="../../../../assets/images/power_sword.webp"
			alt="power sword"
		>
	</div>
	<div class="hero-section__text">
		<h1 class="hero-section__title">Wharmy</h1>
		<div class="hero-section__subhead">
			Save, Manage, and share your Warhammer army effortlessly.
		</div>
		<div>
			<a
				class="hero-section__cta"
				routerLink="/dashboard"
			>
				Get Started
			</a>
		</div>
		<div>
			<a
				class=""
				routerLink="/armies"
			>
				Explore Armies
			</a>
		</div>
	</div>
</section>
