.army-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}
.army-title {
	font-size: 18px;
	font-weight: 600;
	margin-block: 0;
}

header > span {
	font-weight: 500;
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
}



