<section>
	<div *ngIf="army$" class="army-container">
		<header class="army-header">
			<h1 class="army-title">{{ army$.name }}</h1>
			<div>
				<span class="army-category">{{ army$.category }} - </span>
				<span class="army-subcategory">{{ army$.subCategory }}</span>
			</div>
			<span>Owner: {{ army$.ownerId }}</span>
			<div *ngIf="editLink">
				<a
					routerLink="/army/edit/{{army$._id}}"
					[state]="{armyData: army$}"
					class="btn-link"
				>edit army</a>
			</div>
		</header>
		
		<app-dropdown
			[iconUrl]="'../../../assets/icons/game-icons_feather.svg'"
		>
			<h2 class="dropdown-title">Description</h2>
			<div class="content">
				{{ army$.description }}
			</div>
		</app-dropdown>
		
		<app-dropdown
			[iconUrl]="'../../../assets/icons/game-icons_spell-book.svg'"
		>
			<h2 class="dropdown-title">Lore</h2>
			<div class="content">
				{{ army$.lore }}
			</div>
		</app-dropdown>
		
		<h3>Miniatures</h3>
		<div *ngIf="army$.miniatures && army$.miniatures.length > 0">
			<ul *ngFor="let miniature of army$.miniatures">
				<li class="miniatures-list">
					<a [routerLink]="['miniature', miniature._id]" class="miniatures-list__item-link">
						{{ miniature.name }}
					</a>
				</li>
			</ul>
		</div>
		<div *ngIf="army$.miniatures.length === 0">
			No miniatures yet..
		</div>
		
		<div *ngIf="army$.pictures && army$.pictures.length > 0">
			<h3>Gallery</h3>
			<div *ngFor="let picture of army$.pictures">
				<a [href]="picture.fileUrl" target="_blank">
					<img
						[src]="picture.fileUrl"
						[alt]="picture.fileName"
						class="miniature-img"
					>
				</a>
			</div>
		</div>
		
	</div>
</section>
