<section>
	<div *ngIf="army$" class="army-container">
		<header class="army-container__header">
			<h1 class="army-title">{{ army$.name }}</h1>
			<span>{{ army$.category }}</span>
			<span>Author: {{ army$.ownerId }}</span>
			<div *ngIf="editLink">
				<a
					routerLink="/army/edit/{{army$._id}}"
					[state]="{armyData: army$}"
				>edit army</a>
			</div>
		</header>
		
		<app-dropdown>
			<header class="header">
				<h2 class="article-title">Description</h2>
			</header>
			<div class="content">
				{{ army$.description }}
			</div>
		</app-dropdown>
		
		<app-dropdown>
			<header class="header">
				<h2 class="article-title">Lore</h2>
			</header>
			<div class="content">
				{{ army$.lore }}
			</div>
		</app-dropdown>
		
		<hr>
		
		<div *ngIf="army$.miniatures && army$.miniatures.length > 0">
			<h3>Miniatures</h3>
			<div *ngFor="let miniature of army$.miniatures">
				<a [href]="miniature.fileUrl" target="_blank">
					<img [src]="miniature.fileUrl" [alt]="miniature.fileName" style="width: 200px; height: auto;">
				</a>
			</div>
		</div>
	</div>
</section>
