<section>
	<div *ngIf="army$" class="army-container">
		<header class="army-container__header">
			<h1 class="army-title">{{ army$.name }}</h1>
			<span>{{ army$.category }}</span>
			<span>Author: {{ army$.ownerId }}</span>
			<div *ngIf="editLink">
				<a
					routerLink="/army/edit/{{army$._id}}"
					[state]="{armyData: army$}"
				>edit army</a>
			</div>
		</header>
		
		<app-dropdown>
			<header class="header">
				<h2 class="article-title">Description</h2>
			</header>
			<div class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, corporis dolor dolore doloribus dolorum ducimus earum esse eum harum illum impedit ipsum iure nihil nisi numquam quas ratione rem sit.</p>
			</div>
		</app-dropdown>
		
		<app-dropdown>
			<header class="header">
				<h2 class="article-title">Lore</h2>
			</header>
			<div class="content">
				<p>Accusamus adipisci animi, aperiam asperiores blanditiis culpa debitis deserunt dolores, ducimus est ex excepturi facilis harum in incidunt iste nihil nobis nulla odit pariatur repudiandae saepe sapiente similique voluptas voluptatum?</p>
				<p>Accusamus adipisci animi, aperiam asperiores blanditiis culpa debitis deserunt dolores, ducimus est ex excepturi facilis harum in incidunt iste nihil nobis nulla odit pariatur repudiandae saepe sapiente similique voluptas voluptatum?</p>
			</div>
		</app-dropdown>
		
	</div>
</section>
