@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

:root {
	--font-petrona: 'Petrona', serif;
	--lightOrange: hsl(36, 100%, 46%, 0.5);
	--darkOrange: hsl(36, 100%, 30%, 1);
}

* {
	font-family: 'Petrona', serif;
	box-sizing: border-box;
}

body {
	margin: 0;
}

main {
	/*width: 90%;*/
	margin: auto;
	max-width: 1124px;

	/*background-color: #ff9e9e;*/
}

@media (max-width: 575.98px) {

}

