@media screen and (max-width: 575.98px) {
	.site-header {
		max-width: 90%;
	}
	.navbar {
		display: none;
	}
	.mobile-navbar {
		position: fixed;
		inset: 84px 0;
		width: 100vw;
		background-color: #ffffff;
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 84px); /* Ensure it covers the full viewport height */
		z-index: 3; /* Ensure it is above other elements */
	}

	.mobile-navbar.display {
		display: flex;
		background-color: #000000c9;
		backdrop-filter: blur(8px) brightness(60%);
		height: 90vh;
		margin: 0;
		padding: 0;
		right: 0;
		flex-direction: row;
		transform: translateX(0);
	}
	.mobile-navbar.hidden {
		display: none;
	}
	.nav-icon {
		cursor: pointer;
		height: 32px;
		width: 40px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 6px;
		align-items: center;
	}
	.nav-icon span {
		/*width: 20px;*/
		width: 50%;
		height: 2px;
		background-color: black;
		opacity: 1;
		position: absolute;
		transition: transform .3s ease;
	}
	.nav-icon.open {
		transition: transform .5s ease;
	}
	.nav-icon span:nth-child(1) {
		top: 0;
		left: 0;
	}
	.nav-icon span:nth-child(2) {
		top: 0;
		right: 0;
	}
	.nav-icon span:nth-child(3) {
		top: calc(50% - 1px);
		left: 0;
	}
	.nav-icon span:nth-child(4) {
		top: calc(50% - 1px);
		right: 0;
	}
	.nav-icon span:nth-child(5) {
		bottom: 0;
		left: 0;
	}
	.nav-icon span:nth-child(6) {
		bottom: 0;
		right: 0;
	}
	.nav-icon.open span:nth-child(1) {
		transition: transform .3s ease;
		transform: rotate(45deg);
		top: 7px;
		left: 6px;
	}
	.nav-icon.open span:nth-child(2) {
		transition: transform .3s ease;
		transform: rotate(-45deg);
		top: 7px;
		bottom: 6px;
	}
	.nav-icon.open span:nth-child(3) {
		transition: transform, opacity, .3s ease;
		transform: translateX(-30px);
		opacity: 0;
	}
	.nav-icon.open span:nth-child(4) {
		transition: transform, opacity, .3s ease;
		transform: translateX(30px);
		opacity: 0;
	}
	.nav-icon.open span:nth-child(5) {
		transition: transform .3s ease;
		transform: rotate(-45deg);
		bottom: 8px;
		left: 6px;
	}
	.nav-icon.open span:nth-child(6) {
		transition: transform .3s ease;
		transform: rotate(45deg);
		bottom: 8px;
	}

	.mobile-navbar-list {
		background-color: #FFFFFF;
		height: 100%;
		width: 63vw;
		margin-left: auto;
		display: flex;
		flex-direction: column;
		gap: 3em;
		padding-top: 84px;
		padding-left: 32px;
		transform: translateX(100vw);
	}
	.translate {
		transform: translateX(0);
		transition: transform .6s ease;
	}
}

@media screen and (min-width: 576px) {
	.nav-icon {
		display: none;
	}

}

@media screen and (min-width: 1190px) {
	.mobile-navbar, .nav-icon {
		display: none;
	}
}

.hidden {
	display: none;
}

.site-header {
	max-width: 90%;
	display: flex;
	flex-direction: row;
	background-color: transparent;
	padding: 1em 0;
	position: relative;
	margin: auto auto 4em;
	width: 1124px;
}

.navbar-logo {
	position: relative;
	display: flex;
	z-index: 2;
}

.navbar-list {
	display: flex;
	margin: 1em auto;
	justify-content: flex-start;
	align-items: center;
}

ul {
	padding: 0;
}
li {
	list-style: none;
}

.link {
	color: black;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 700;
	padding: .5em 1.5em;
	display: block;
	position: relative;
	width: fit-content;
}

.logo-link {
	display: flex;
	align-items: center;
	margin-inline: auto;
}

/* TODO check this ? */
/*.mobile-link.active:not(.logo-link)::after,*/
/*.link.active:not(.logo-link)::after {*/
/*	border-bottom: 2px solid #f9ce62;*/
/*	position: absolute;*/
/*	content: '';*/
/*	display: block;*/
/*	!**/
/*		left and right value are equal to the padding-inline*/
/*		of .link for matching the width of the text*/
/*	*!*/
/*	left: 2em;*/
/*	right: 2em;*/
/*	top: calc(100% + 8px);*/
/*	width: 100%;*/

/*	outline: 1px solid red;*/
/*}*/

.navbar-list .link.link-border__left {
	border-left: 1px solid #8f8f8f;
}



