<section>
	<div *ngIf="army$">
		<header class="army-container__header">
			<h1 class="army-title">{{ army$.name }}</h1>
			<span>{{ army$.category }}</span>
			<span>Author: {{ army$.ownerId }}</span>
		</header>
		
		<form [formGroup]="armyForm" (submit)="formSubmit()">
			<app-dropdown>
				<header class="header">
					<h2 class="article-title">Description</h2>
				</header>
				<div class="content">
					<textarea
						formControlName="description"
						rows="8"
						[placeholder]="army$.description || 'Enter some description'"
					>
					</textarea>
				</div>
			</app-dropdown>
			
			<app-dropdown>
				<header class="header">
					<h2 class="article-title">Lore</h2>
				</header>
				<div class="content">
					<textarea
						formControlName="lore"
						rows="8"
						[placeholder]="army$.lore || 'Enter some lore'"
					>
					</textarea>
				</div>
			</app-dropdown>
			
			<button type="button" (click)="cancelEditHandler()">Cancel</button>
			<button type="submit">Save</button>
		
		</form>
	
	</div>
	
	<hr>
	
	<app-image-upload
		*ngIf="army$"
		[armyId]="army$._id"
		(fileUploaded)="fetchArmyData()"
	>
	</app-image-upload>
	
	<hr>
	
	<article *ngIf="army$">
		<h2>Gallery</h2>
		<div *ngIf="army$.miniatures && army$.miniatures.length > 0">
			<h3>Miniatures</h3>
			<div *ngFor="let miniature of army$.miniatures">
				<a [href]="miniature.fileUrl" target="_blank">
					<img [src]="miniature.fileUrl" [alt]="miniature.fileName" style="width: 200px; height: auto;">
				</a>
				<span (click)="showDeleteModal(miniature._id)">
					delete
				</span>
				<div>
					<button (click)="setAsThumbnail(miniature._id, armyId)">set as thumbnail</button>
				</div>
			</div>
		</div>
	</article>
	
	<app-confirmation-modal
		*ngIf="miniatureIdToDelete"
		[message]="'Are you sure you want to delete this miniature?'"
		(confirmed)="onDeleteConfirm(miniatureIdToDelete)"
		(cancelled)="onDeleteCancel()"
	>
	</app-confirmation-modal>
	
</section>

